# Dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing & Coverage
/coverage

# Next.js Build Output
/.next/
/out/
/build
/dist

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Local SQLite Database Files
db/*.db
db/*.db-journal
prisma/*.db
prisma/*.db-journal
*.sqlite
*.db

# Uploaded User Content (Media/Avatars)
public/uploads/videos/*
public/uploads/avatars/*
!public/uploads/.gitkeep

# System and IDE Files
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dev.log
server.log

# TypeScript
*.tsbuildinfo